@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
}

/**
Menu
 */

h2 {
    width: 100%;
    font-size: 2rem;
    padding-bottom: 2rem;
    color: #f5c518;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    background-color: #121212;
    justify-content: center;
}

.lien {
    text-decoration-line: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding: 1rem 2rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}

.lien:hover {
    background-color: rgba(169, 169, 169, 0.13);
}

#imdb {
    background-color: #f5c518;
    color: black;
    font-size: 2rem;
    border-radius: 0.4rem;
    padding: 0.25rem 1rem;
    text-decoration-line: none;
    font-weight: bold;
    margin-right: 0.5rem;
}

input[type=text] {
    width: 70rem;
    border: none;
    padding: 0.375em 0 0.375rem 0.5rem;
}

#all {
    background-color: white;
    color: black;
    font-size: 1.5rem;
    padding: 0.27rem 1.5rem;
    border-radius: 0.5rem 0 0 0.5rem ;
    font-weight: bold;
}

#search {
    background-color: white;
    color: black;
    font-size: 1.5rem;
    padding: 0.4rem 0.50rem;
    margin-right: 0.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
}

#line {
    border: 0.01rem solid gray;
    height: 3rem;
    margin-right: 0.5rem;
}

.font {
    margin-right: 1rem;
    color: gray;
}

#head {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 68%;
}

#slide {
    width: 65%;
    height: 55rem;
    background-image: url("../img/betty-white.jfif");
    background-size: cover;
    cursor: pointer;
}

#next {
    width: 35%;
    height: 55rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 1rem;
}

#today {
    width: 65%;
    height: 30rem;
    margin-top: 7.5rem;
    display: flex;
    flex-wrap: wrap;
}

.titleToday {
    width: 100%;
}

.titleToday > h2 {
    font-size: 3rem;
    width: 100%;
}

.watch {
    width: 98%;
    height: 28%;
    display: flex;
    align-items: center;
}

#trailer {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
}

#trailer:hover {
    color: #f5c518;
}

.img {
    background-image: url("../img/img-watch.PNG");
    width: 88px;
    height: 130px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.circle {
    border: 0.1rem solid white;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.circle:hover {
    color: #f5c518;
    border: 0.1rem solid #f5c518;
    cursor: pointer;
}

.title {
    font-size: 1.5rem;
    cursor: pointer;
}

.title + span {
    font-size: 1.4rem;
    color: gray;
    cursor: pointer;
}

#first {
    background: linear-gradient(rgba(144, 144, 144, 0.11) 0%, rgba(0,0,0,0.29735644257703087) 100%);
}

#left, #right {
    font-size: 4.5rem;
    border: 0.1rem solid white;
    width: 5.5%;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.4rem;
    background-color: rgba(0, 0, 0, 0.53);
    cursor: pointer;
}

#left:hover, #right:hover {
    color: #f5c518;
}

#arrow {
    display: flex;
    margin-top: 18rem;
}

#left {
    margin-right: 75rem;
}

#circle-name {
    border: 0.1rem solid white;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-right: 1rem;
}

#foot {
    height: 25rem;
    margin-top: 5.4rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.58) 80%);

}

#imdb-img {
    background-image: url("../img/imdb.jfif");
    width: 15rem;
    height: 25rem;
    cursor: default;
}

.add {
    width: 5rem;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.61);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add:hover {
    background-color: rgba(0, 0, 0, 0.31);
}

.add-color {
    color: white;
    font-size: 2rem;
}

#name {
    width: 60%;
    display: flex;
    margin-top: 15rem;
    margin-left: 1rem;
    flex-wrap: wrap;
}

#circle-name + p {
    font-size: 2.5rem;
    width: 80%;
}

#circle-name + p > span {
    font-size: 1.7rem;
    color: gray;
}

#circle-name:hover {
    border: 0.1rem solid #f5c518;
}

#today {
    justify-content: space-around;
}

.today {
    width: 48%;
    height: 24rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.today > p {
    font-size: 1.7rem;
    cursor: pointer;
}

.today > p:hover {
    text-decoration-line: underline;
}

.film {
    height: 20rem;
    width: 33.3%;
}

#filmOne {
    background-image: url("../img/batman.jpg");
    background-size: cover;
}

#filmTwo {
    background-image: url("../img/ironMan.jpg");
    background-size: cover;
    border-left: 0.2rem solid rgba(255, 255, 255, 0.78);
    border-right: 0.2rem solid rgba(255, 255, 255, 0.78);
}

#filmThree {
    background-image: url("../img/spiderMan.jpg");
    background-size: cover;
}

#filmFour {
    background-image: url("../img/scream.jpg");
    background-size: cover;
}

#filmFive {
    background-image: url("../img/himyf.jpg");
    background-size: cover;
    border-left: 0.2rem solid rgba(255, 255, 255, 0.78);
    border-right: 0.2rem solid rgba(255, 255, 255, 0.78);
}

#filmSix {
    background-image: url("../img/peacemaker.jpg");
    background-size: cover;
}

/**
Body
 */

#watch {
    margin: 2rem auto;
    width: 68%;
}

.whatWatch {
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
}

.whatWatch > h2 {
    width: 80%;
    padding: 0;
}

a {
    text-decoration-line: none;
    font-size: 1.5rem;
    color: #5799ef;
}

.picks {
    display: flex;
    flex-direction: column;
}

.titleWhite {
    font-size: 2.3rem;
    font-weight: bold;
    border-left: 0.5rem solid #f5c518;
    padding: 0.2rem 1rem;
}

.titleWhite + span {
    font-size: 1.5rem;
    color: gray;
    cursor: pointer;
    margin-top: 0.6rem;
    margin-bottom: 2rem;
}

#filmTrailer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filmTrailer {
    width: 14.5%;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.imgTrailer {
    width: 100%;
    height: 29rem;
    cursor: pointer;
}

#trailerOne {
    background-image: url("../img/bloodyHell.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#trailerTwo {
    background-image: url("../img/comeTrue.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#trailerThree {
    background-image: url("../img/nightHouse.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
}

#trailerFour {
    background-image: url("../img/cleansingHour.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#trailerFive {
    background-image: url("../img/censor.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#trailerSix {
    background-image: url("../img/blackout.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.footImage {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    border-radius: 0 0 0.5rem 0.5rem ;
}

.footImage > div {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
}

.stars {
    color: #f5c518;
    font-size: 1.3rem;
    margin-right: 0.5rem;
}

div > span {
    font-size: 1.5rem;
}

.starsBlue {
    color: #5799ef;
    font-size: 1.3rem;
}

.titleTrailer {
    font-size: 1.7rem;
    margin-left: 0.5rem;
    margin-bottom: 2.5rem;
    cursor: pointer;
}

.titleTrailer:hover {
    text-decoration-line: underline;
}

.titleTrailer + a {
    text-align: center;
}

a + .info {
    display: flex;
    justify-content: space-around;
}

p > i {
    margin-right: 1rem;
    color: gray;
    font-size: 1.3rem;
}

.info > p {
    font-size: 1.5rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.info > p:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.circleInfo {
    border: 0.1rem solid white;
    padding: 0.5rem 0.8rem;
    border-radius: 50%;
}

.hoverCircle {
    padding: 0.8rem;
    border-radius: 50%;
    cursor: pointer;
}

.hoverCircle:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.info {
    padding-bottom: 0.8rem;
}

span + i {
    margin-left: 4rem;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

span + i:hover {
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
}

.watchList {
    background-color: rgba(128, 128, 128, 0.28);
    width: 90%;
    margin: 0.5rem auto;
    padding: 0.7rem;
    border-radius: 0.5rem;
}

.watchList:hover {
    background-color: rgba(128, 128, 128, 0.44);
}

#sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sign > .add {
    background-color: rgba(128, 128, 128, 0.32);
    width: 3rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.add + p {
    font-size: 1.5rem;
    font-weight: bold;
}

#save {
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    font-size: 1.5rem;
}

#signIn {
    background-color: #f5c518;
    color: black;
    font-weight: bold;
    padding: 0.8rem 2.5rem;
    border-radius: 0.5rem;
}

#signIn:hover {
    background-color: rgba(245, 197, 24, 0.92);
}

#underline:hover {
    text-decoration-line: underline;
}

#recom {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
#recom:hover {
    background-color: #1a1a1a;
}

.none {
    cursor: default;
}

#fan {
    margin: 3rem auto;
    width: 68%;
}

#filmFan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#trailerSeven {
    background-image: url("../img/dontLook.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#trailerEight {
    background-image: url("../img/noWayHome.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#trailerNine {
    background-image: url("../img/encato.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#trailerTen {
    background-image: url("../img/pushpa.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#trailerEleven {
    background-image: url("../img/minnal.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#trailerTwelve {
    background-image: url("../img/harryPotter.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#moreWatch {
    width: 68%;
    margin: 0 auto;
}

.guide {
    color: white;
    border: 0.2rem solid white;
    padding: 0.5rem 10rem;
    border-radius: 0.5rem;
    margin-right: 2rem;
}

.guide:hover {
    background-color: #1a1a1a;
}

#exclusive {
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#original {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.interview {
    width: 30%;
    height: 22rem;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.titleInter {
    width: 30%;
}

.titleInter > p {
    font-size: 1.6rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.titleInter > p:hover {
    text-decoration-line: underline;
}

#interOne {
    background-image: url("../img/emmys.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#interTwo {
    background-image: url("../img/titanic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#interThree {
    background-image: url("../img/theWitcher.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.playCircle {
    border: 0.2rem solid white;
    padding: 0.5rem;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
}

.playCircle:hover {
    color: #f5c518;
}

.padd {
    padding: 1rem;
}